body{
    font-family: 'Dancing Script', cursive;

}

header{
    background-color: #5b7989;
    color: white;    
    border-radius: 10px 10px 0px 0px;
    display: flex;
}

header h1{
    text-shadow: 2px 0px #02010a;
}