/* Global*/

body{
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
    background-color: #02010a;
}

body > *{
    overflow: hidden;
    width: 80%;
    margin: auto;
}

img{
    width: 100%;
    display: block;
    filter: drop-shadow(2px 2px 0px #02010a); 
   
}


/* Cabecera*/

.contenedor{
    padding: 0 5%;    
    margin: auto; 
    overflow: hidden;
}

header{
    background-color: #5b7989;
    color: #ffffff;    
    border-radius: 10px 10px 0px 0px;
    font-weight: bold;
    text-align: center;
}


header h1{
    text-shadow: 2px 0px #02010a;
}

header a{
    color: #ffffff;
    font-size: 1.4em; 
}

header ul{
    margin: 0;
    padding: 0;    
}

header li{    
    display: inline;
    padding: 0 5% 0 0;    
 /*   padding: 0 20px 0 20px; */
}
header #titulo{
    float: left;
}

/*
header nav{
    float: right;
    margin-top: 40px;
}
*/

header nav{    
    margin-bottom: 10%;
}

/* Paisajes Index */

#imagen-principal{    
    background-color:  #82c3a6
}

#imagen-principal .marco-fotos{
    margin: auto;
    width: 90%;
    padding: 4% 5%;
}


#imagenes-secundarias{
  background-color: #d5c75f;
  border: 1px;
  display: flex;
  flex-direction: column;
}

#imagenes-secundarias .marco-fotos{
    margin: auto;
    width: 70%;
    padding: 4% 5%;
}

.marco-fotos{
    text-align: center;
   ;
}
.marco-fotos a{
    padding-top: 4%;
    font-size: 2em;  
    color: #02010a; 
}


/* Meida Queries*/

@media (min-width:900px){
    
    #imagenes-secundarias{
     display: flex;
     flex-direction: row;
}
    #imagenes-secundarias .marco-fotos{
        width: 45%;
    }   



}